header {
  z-index: 999;
  width: 100%;
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  background-color: var(--dark-tr);
  backdrop-filter: blur(3px);
  ul {
    display: flex;
    gap: 50px;
    li {
      height: 50px;
      list-style: none;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: 0.3s;
      &:hover{
        background-color: var(--dark-3);
      }
      
      a {
        padding: 0 10px;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: var(--white);
        transition: 0.3s;
        font-weight: 600;
        &:lang(en) {
          font-family: "Oswald", sans-serif;
          text-transform: uppercase;
          letter-spacing: 2px;
        }
        &:hover{
            color: var(--dark-1);
            background-color: white;
            transform: translateY(10px);    
        }
      }
      .active{
        color: var(--gold);
      }
    }
  }
}
