<section>
  <h1 class="toptext">Contact Me</h1>
    <div class="cont1">
        <div data-aos="fade-left" class="cont11">
          <div  class="image"><img src="../../assets/last.png" alt="Otar Davitashvili"></div>
        </div>
        <div class="cont12">
            <!-- <div class="cont12">
                <form #contactForm="ngForm" (ngSubmit)="submitForm(contactForm)">
                  <div class="form-group">
                    <label for="email">Your Email:</label>
                    <input type="email" id="email" name="email" ngModel required>
                  </div>
                  <div class="form-group">
                    <label for="message">Message:</label>
                    <textarea id="message" name="message" ngModel required></textarea>
                  </div>
                  <button type="submit">Submit</button>
                </form>
              </div>
              <a href="tel:+995557282616">+995 557 282 616</a>
              <a href="mailto:otowork3@gmail.com">otowork3&commat;gmail.com</a> -->
              <div data-aos="fade-left" class="continfo">
                <div  class="name">
                  <h1>OTAR DAVITASHVILI</h1>
                </div>
                <div class="links">
                  <a href="tel:+995557282616"><i class="fa-solid fa-phone"></i>+995 557 282 616</a>
                  <a href="mailto:otowork3@gmail.com"><i class="fa-solid fa-envelope"></i>otowork3&commat;gmail.com</a>
                </div>
              </div>
              <div data-aos="fade-left" class="conticons">
                <a href="https://www.linkedin.com/in/otar-davitashvili" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
                <a href="https://github.com/WERSIT35" target="_blank"><i class="fa-brands fa-github"></i></a>
                <a href="mailto:otowork3@gmail.com"><i class="fa-solid fa-envelope"></i></a>
                <a href="tel:+995557282616"><i class="fa-solid fa-phone"></i></a>
              </div>
        </div>
    </div>
</section>