<main>
    <article>
        <div class="nameSurname">
            <div class="titleContainer">
                <h1 data-aos="flip-up" data-aos-duration="500">hello, i'm</h1>
                <h1 data-aos="fade-right" data-aos-duration="1000">Otar Davitashvili</h1>
                <p data-aos="fade-right" data-aos-duration="2000">Web Developer</p>
            </div>
            <div class="txtContainer">
                <p data-aos="flip-up" data-aos-duration="1000">
                    Dedicated and highly skilled Computer Engineer with expertise in web development, programming, and cloud
computing. Seeking a challenging position where I can leverage my technical proficiency and problem-solving
skills to drive innovation and deliver exceptional results.
                </p>
            </div>
            <div class="buttons">
                <button class="btn1" (click)="download()">Download CV</button>
                <button class="btn2" [routerLink]="'/contact'" >Contact</button>    
            </div>
        </div>
        <div  class="image"><img src="../../assets/last.png" alt="Otar Davitashvili">
    <div class="pattern"></div></div>
        <p class="abs">Slide For More<i class="fa-solid fa-circle-arrow-down"></i></p>
    </article>
    <section class="sect1">
        <h1>Experience</h1>
        <div class="gamocdileba">
            <ul>
                <li *ngFor="let gamoc of gamocdilebaList" data-aos="fade-up">
                    <div class="txtGamocdileba">
                        <h2>{{gamoc.position}}</h2>
                        <h3>{{gamoc.info}}</h3>
                        <p>{{gamoc.date}}</p>
                    </div>
                    <img [src]="gamoc.image" [alt]="gamoc.alt">
                </li>
            </ul>
        </div>
    </section>
    <section class="sect15">
        <h1>Skills / Tools</h1>
        <div class="sect151">
            <div class="angular" data-aos="fade-up">
                <div class="top">
                    <img src="assets/skills/angular.png" alt="">
                    <h2>Angular</h2>
                </div>
                <div class="bottom">
                    <div class="bot1">
                        <img src="assets/skills/typescript.png" alt="">
                        <h2>Typescript</h2>
                    </div>
                    <div class="bot2">
                        <img src="assets/skills/sass.png" alt="">
                        <h2>Sass</h2>
                    </div>
                </div>
            </div>
            <div class="git" data-aos="fade-up">
                <div class="mid1">
                    <img src="assets/skills/github-sign.png" alt="">
                    <h2>GitHub</h2>
                </div>
                <div class="mid2">
                    <img src="assets/skills/c-.png" alt="">
                    <h2>C++</h2>
                </div>
                <div class="mid3">
                    <img src="assets/skills/c-sharp.png" alt="">
                    <h2>C#</h2>
                </div>
            </div>
            <div class="cloud" data-aos="fade-up">
                <div class="top">
                    <img src="assets/skills/server.png" alt="">
                    <h2>Cloud</h2>
                </div>
                <div class="bottom">
                    <div class="bot1">
                        <img class="aws" src="assets/skills/aws.png" alt="">
                        <h2>AWS</h2>
                    </div>
                    <div class="bot2">
                        <img src="assets/skills/azure.png" alt="">
                        <h2>Azure</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
      
    <section class="sect2">
        <h1>Education</h1>
        <div class="ganatleba">
            <ul>
                <a data-aos="fade-up" [routerLink]="['/certify',ganatleba.id]" *ngFor="let ganatleba of ganatlebaList" href="">
                    <li>
                        <div class="university">
                            <h2>{{ganatleba.name}}</h2>
                            <h3>{{ganatleba.marjor}}</h3>
                            <p>{{ganatleba.date}}</p>
                            <h3 class="subject">SUBJECTS:</h3>
                            <ul class="subjects">
                                <li *ngFor="let subject of ganatleba.subject">
                                    <h4>{{subject}}</h4>
                                </li>
                            </ul>
                        </div>
                        <img [src]="ganatleba.image" [alt]="ganatleba.alt">
                        
                        <div class="certificate">
                            <ng-container *ngIf="ganatleba.certificates && ganatleba.certificates.length > 0; else noCertificates">
                                <ng-container *ngIf="ganatleba.certificates && ganatleba.certificates.length > 0">
                                    <img *ngIf="ganatleba.certificates.length > 0" [src]="ganatleba.certificates[0]" [alt]="ganatleba.altimages" (load)="certificateImage = true">
                                </ng-container>
                                <a *ngIf="certificateImage" href="">see all certifications</a>
                            </ng-container>
                            <ng-template #noCertificates>
                            </ng-template>                            
                        </div>
                        
                    </li>
                </a>
            </ul>
        </div>
    </section>
</main>
